.bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #ffffff;
    color: #ffffff;
}

.twitter {
    background-color: #616161;
    color: #ffffff;
}

.google {
    background-color: #d6722f;
    color: #ffffff;
}

.apple {
    background-color: #000000;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}
.fot-ball{
    /* background-color: #1bbc9b; */
    margin-bottom: 20px;
}
.disclam{
    color: white;

}
.foot-icon{

}
.sdow{
    filter: drop-shadow(30px 10px 4px #ffffff);
    margin-top: 20px;
}