.back-color{
    background-color: rgb(236, 236, 236);
    height: 80vh;
}
center{
    margin-bottom: 30px;
}


.sec3{
   
   padding-top: 50px;
    height: 80vh;
    /* border: 2px solid; */
}
h1{
    font-weight: 800;
    
}
.sc{
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.sr{
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}
.ccc{
    height: 40%;
    /* border: 1px solid; */
    width: 60%;
}
.h1{
    font-size: 34px;
    font-weight: 700;
}
#ang{
    text-align: end;
    margin-right: 20px;
}
#im2{
    float: right;
}
.score{
    color: rgb(255, 156, 75);
    font-size: 58px;
}
.ntx-txt{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    /* margin-top: 50px; */
    font-size: 30px;
}
.ntx-match{
    height: 30%;
    /* border: 1px solid; */
    margin-top: 50px;
}
.ntx-min{
    height: 50%;
    /* border: 1px solid red; */
    width: 50%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(228, 228, 228);
}
.ntx-match-item{
    height: 100%;
    width: 13%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.april{
    color: black;
    font-size: 12px;
}
.h2{
    font-size: 19px;
    font-weight: 700;
}
.ntx-match-item-1{
    height: 100%;
    width: 15%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.ntx-match-item-0{
    height: 100%;
    width: 8%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.score1{
    color: rgb(255, 156, 75);
    font-size: 38px;
}